* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Neucha', cursive;
}

h2 {
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

input {
    margin: 5px;
}

.formBases {
    text-align: center;
}

.formDel {
    text-align: center;
}


.container {
    background-color: #fff;
    width: 60vw;
    padding: 25px;
    position: absolute;
    left: 20%;
    top: 2rem;
    border-radius: 12px;
    transition: 0.2s;
}
.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

body {
    background-color: rgb(35, 150, 134);
}

#details {
    position: relative;
    width: 60vw;
    text-align: center;
    top: 21rem;
    left: 20%;
    color: rgb(0, 0, 0);
}